/* CSS reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --tx: 9000ms;
    --tx-1: 18px;
    --tx-2: 32px;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* CSS global */
a {
    --a-color: #002a71;
    color: var(--a-color);
    text-decoration: none;
    transition: color 0.2s;
}

a:visited {
    color: var(--a-color);
}

a:hover {
    color: #0f50af;
    text-decoration: underline;
}
