/* CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --tx: 8000ms
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* End CSS reset */

body {
    background-size: cover;
    background-position: 50% 50%;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

#app {
    align-items: center;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#main-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
}

#sound-cloud-embed {
    position: absolute;
    bottom: 1em;
    left: 1em;
    opacity: 50%;
    transition: opacity 0.3s;
}
#sound-cloud-embed > iframe {
    border: none;
    height: 80px;
    transition: height 0.3s, width 0.3s;
    width: 250px;
}

#sound-cloud-embed:hover {
    opacity: 100%;
}

#sound-cloud-embed:hover > iframe {
    height: 300px;
    width: 100%;
}

#description-overlay {
    position: absolute;
    bottom: 1em;
}

#select-lesson {
    font-size: 2em;
    cursor: default;
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
}

#select-lesson > a {
    display: block;
    text-decoration: none;
}

#select-lesson > a:visited {
    color: unset;
}

#select-lesson > a:hover {
    color: #0026aa;
    text-decoration: underline;
}


.overlay-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-shadow:
            #ffffff 0 0 .5em,
            rgba(255, 255, 255, 0.5) 5px 0 .5em,
            rgba(255, 255, 255, 0.5) 0 5px .5em,
            rgba(255, 255, 255, 0.5) -5px 0 .5em,
            rgba(255, 255, 255, 0.5) 0 -5px .5em;
}


.enlarge-animation {
    animation: enlarge var(--tx) linear forwards;
}

.reduce-animation {
    animation: reduce var(--tx) linear forwards;
}

.slide-animation-x {
    animation: slide-x var(--tx) linear forwards;
}

.slide-animation-y {
    animation: slide-y var(--tx) linear forwards;
}

@keyframes enlarge {
    0% {
        transform: scale(.99);
    }
    100% {
        transform: scale(1.07);
    }
}

@keyframes reduce {
    0% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(.97);
    }
}

@keyframes slide-x {
    0% {
        transform: translateX(-1.25em);
    }
    100% {
        transform: translateX(+1.25em);
    }
}

@keyframes slide-y {
    0% {
        transform: translateY(-1.25em);
    }
    100% {
        transform: translateY(+1.25em);
    }
}
