body {
    align-items: center;
    display: flex;
    justify-content: center;
}

#select-lesson {
    font-size: 2em;
}

#select-lesson > a {
    display: block;
}

#github-link {
    bottom: 2em;
    position: absolute;
}

#github-link > a > svg {
    height: 1.2em;
    transition: height 200ms;
}

#github-link > a > svg:hover {
    filter: drop-shadow(0 0 .4em rgba(0, 0, 0, .3));
    height: 1.3em;
}
