body {
    align-items: center;
    display: flex;
    justify-content: center;
}

#select-lesson {
    font-size: 2em;
}

#select-lesson > a {
    display: block;
}

#github-link {
    bottom: 2em;
    position: absolute;
}

@property --alpha {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}

#github-link > a > svg {
    filter: drop-shadow(0 0 .4em rgba(0, 0, 0, var(--alpha)));
    height: 1.2em;
    transition: height 200ms, --alpha 200ms;
}

#github-link > a > svg:hover {
    --alpha: .4;
    height: 1.3em;
}
