#footer {
    align-items: end;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    left: 0;
    padding-bottom: .8em;
    padding-left: .8em;
    padding-right: .8em;
    position: absolute;
    right: 0;
}

#attribution {
    flex: 1;
    font-size: calc(max(.8em, min(1.1em, 2.2vw)));
}

#description {
    flex: 0;
    font-size: calc(max(1.2em, min(2em, 4vw)));
    padding-left: .75em;
    padding-right: .75em;
    text-align: center;
}


#sound-cloud-embed {
    opacity: 50%;
    flex: 1;
    text-align: right;
    transition: opacity 0.3s;
}

#sound-cloud-embed > iframe {
    border: none;
    height: 80px;
    transition: height 0.3s;
}

#sound-cloud-embed > * {
    display: inline-block;
    width: calc(min(300px, max(30vw, 150px)));
}

#sound-cloud-embed:hover {
    opacity: 100%;
}

#sound-cloud-embed:hover > iframe {
    height: 300px;
}


@media all and (max-width: 500px) {
    #footer {
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        padding-bottom: .2em;
        padding-left: 0;
        padding-right: 0;
    }
    #footer > * {
        flex: none;
    }
    #description {
        order: -1;
        padding: 0;
    }
    #attribution {
        padding-bottom: .25em;
        text-align: center;
    }
    #sound-cloud-embed {
        text-align: initial;
        width: 100%;
    }
    #sound-cloud-embed > * {
        --w: calc(min(300px, 90%));
        margin-left: calc(50% - var(--w) / 2);
        width: var(--w);
    }
}

.overlay-text {
    text-shadow:
            #ffffff 0 0 .5em,
            rgba(255, 255, 255, 0.5) 5px 0 .5em,
            rgba(255, 255, 255, 0.5) 0 5px .5em,
            rgba(255, 255, 255, 0.5) -5px 0 .5em,
            rgba(255, 255, 255, 0.5) 0 -5px .5em;
}
