body {
    --menu-bg: rgba(255, 255, 255, .5);
    --menu-p: 16px;
    --menu-s: 32px;
    --menu-sh: 3px 3px 10px rgba(0, 0, 0, 0.4);

    background-size: cover;
    background-position: 50% 50%;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

#play-pause-overlay {

    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}

#play-pause-overlay > svg {
    animation: fade 1300ms linear forwards;
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, .5));
    height: 60vmin;
    width: 60vmin;

}

@keyframes fade {
    0% {
        opacity: 55%;
    }
    100% {
        opacity: 0;
    }
}


#menu-btn {
    background-color: var(--menu-bg);
    border: 0;
    border-radius: 50%;
    box-shadow: var(--menu-sh);
    cursor: pointer;
    height: var(--menu-s);
    left: var(--menu-p);
    position: absolute;
    top: var(--menu-p);
    transition: background-color 200ms;
    width: var(--menu-s);
}

#menu-btn:hover {
    --menu-bg: rgba(255, 255, 255, .75);
}

#menu-btn > svg {
    --s: 24px;
    --l: calc((var(--menu-s) - var(--s)) / 2);

    height: var(--s);
    left: var(--l);
    position: absolute;
    top: var(--l);
    width: var(--s);
}

#params-wrapper {
    background-color: var(--menu-bg);
    border-radius: calc(var(--menu-s) / 4);
    box-shadow: var(--menu-sh);
    display: grid;
    gap: .1em .5em;
    grid-template-columns: auto auto;
    left: calc(var(--menu-p) * 2 + var(--menu-s));
    padding: calc(var(--menu-s) / 4);
    position: absolute;
    top: var(--menu-p);
}

#params-wrapper input {
    width: 200px;
}

#default-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    grid-column: span 2;
}

#default-wrapper button {
    padding-left: .5em;
    padding-right: .5em;
}

#app {
    align-items: center;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#main-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
}

#sound-cloud-embed {
    position: absolute;
    bottom: 1em;
    left: 1em;
    opacity: 50%;
    transition: opacity 0.3s;
}

#sound-cloud-embed > iframe {
    border: none;
    height: 80px;
    transition: height 0.3s, width 0.3s;
    width: 250px;
}

#sound-cloud-embed:hover {
    opacity: 100%;
}

#sound-cloud-embed:hover > iframe {
    height: 300px;
    width: 100%;
}

#description-overlay {
    font-size: 2em;
    position: absolute;
    bottom: 1em;
}

#attribution {
    bottom: 1em;
    font-size: 1.1em;
    position: absolute;
    right: 1em;
}

.overlay-text {
    text-shadow:
            #ffffff 0 0 .5em,
            rgba(255, 255, 255, 0.5) 5px 0 .5em,
            rgba(255, 255, 255, 0.5) 0 5px .5em,
            rgba(255, 255, 255, 0.5) -5px 0 .5em,
            rgba(255, 255, 255, 0.5) 0 -5px .5em;
}


.enlarge-animation {
    animation: enlarge var(--tx) linear forwards;
}

.reduce-animation {
    animation: reduce var(--tx) linear forwards;
}

.slide-1-animation {
    animation: slide-1 var(--tx) linear forwards;
}

.slide-2-animation {
    animation: slide-2 var(--tx) linear forwards;
}

.reverse-animation {
    animation-direction: reverse;
}

@keyframes enlarge {
    0% {
        transform: scale(.99);
    }
    100% {
        transform: scale(1.09);
    }
}

@keyframes reduce {
    0% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(.95);
    }
}

@keyframes slide-1 {
    0% {
        transform: translate3d(calc(-1 * var(--tx-1)), calc(-1 * var(--tx-1)), 0);
    }
    100% {
        transform: translate3d(var(--tx-2), var(--tx-2), 0);
    }
}

@keyframes slide-2 {
    0% {
        transform: translate3d(calc(-1 * var(--tx-1)), var(--tx-1), 0);
    }
    100% {
        transform: translate3d(var(--tx-2), calc(-1 * var(--tx-2)), 0);
    }
}
