#footer {
    align-items: end;
    bottom: 0;
    display: grid;
    gap: .75em;
    grid-template-columns: 1fr fit-content(37vw) 1fr;
    left: 0;
    padding: 0 .8em .8em .8em;
    position: absolute;
    right: 0;
}

#attribution {
    font-size: calc(max(.8em, min(1.1em, 2vw)));
    margin-bottom: .25em;
}

#description {
    font-size: calc(max(1.2em, min(2em, 3.5vw)));
    text-align: center;
    text-wrap: wrap;
}


#sound-cloud-embed {
    align-items: end;
    opacity: 50%;
    display: flex;
    flex-direction: column;
    transition: opacity 0.3s;
}

#sound-cloud-embed > iframe {
    border: none;
    height: 80px;
    margin-bottom: .25em;
    transition: height 0.3s;
}

#sound-cloud-embed > * {
    width: calc(min(300px, max(30vw, 150px)));
}

#sound-cloud-embed:hover {
    opacity: 100%;
}

#sound-cloud-embed:hover > iframe {
    height: 300px;
}


@media all and (max-width: 500px) {
    #footer {
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        display: flex;
        gap: .2em;
        padding-bottom: .2em;
        padding-left: 0;
        padding-right: 0;
    }
    #footer > * {
        margin: 0;
    }
    #description {
        order: -1;
    }
    #attribution {
        text-align: center;
    }
    #sound-cloud-embed {
        align-items: center;
        width: 100%;
    }
    #sound-cloud-embed > * {
        width: calc(min(300px, 90%));
    }
}

.overlay-text {
    text-shadow:
            #ffffff 0 0 .5em,
            rgba(255, 255, 255, 0.5) 5px 0 .5em,
            rgba(255, 255, 255, 0.5) 0 5px .5em,
            rgba(255, 255, 255, 0.5) -5px 0 .5em,
            rgba(255, 255, 255, 0.5) 0 -5px .5em;
}
